<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href={{ logofavicon }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    .logoutButton {
        position: fixed;
        top: 0;
        right: 0;
        margin: 30px;
        /* Adjust the margin as needed */
    }

</style>
<body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for message in messages %}
        <script>
            swal("{{ message }} ");
        </script>
    {% endfor %}
{% endif %}


<div class="container mt-5 text-center align-middle">
    <div class="row">
        <div class="col-12">
            <a href="/"><img
                    src="{{ logourl}}"
                    class='m-2 img-fluid' alt="AssistEd"></a>

        </div>
        <div style="margin-bottom: 20px;">

            {% if request.user.is_authenticated %}
                <button type="submit" style="width: 100px;color: #fff" onclick="location.href='/logout'" class="btn btn-info rounded-pill ms-2 mt-2 mb-2">Logout</button>
            {% else %}
                <a href="/login"><button type="submit" style="width: 100px;color: #fff" class="btn btn-info rounded-pill ms-2 mt-2 mb-2">login</button></a>
            {% endif %}

        </div>


    </div>
    <h2>ADMIN DASHBOARD</h2>


</div>




<div class="container my-4 card p-2">
    <div class="card-body">
    <h5 class="mb-4 text-left">ADD NEW USER</h5>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row row form-group">
            <div class="col-sm">
                <label class="form-group">Enter Username
                    <input type="text" name="UserNameCreateUser" class="form-text form-control" required>
                </label>
            </div>
            <div class="col-sm">
                <label class="form-group">Enter Password
                    <input type="password" name="PasswordCreateUser" class="form-text form-control" required>
                </label>
            </div>
            <div class="col-sm m-1">
                <label class="form-group"> &nbsp;
                    <button type="submit" name="saveCreateUserBtn" class="form-text form-control btn btn-primary"><i class="fa fa-plus"></i> Add </button>
                </label>
            </div>

        </div>
    </form>
</div>
</div>

<div class="container my-4 card p-2">
    <div class="card-body">
<h5 class="mb-4 text-left">UPDATE USER PASSWORD</h5>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row row form-group">
        <div class="col-sm">
            <label class="form-group">Select Username
                <select class="form-control" name="updatePasswordUsername" id="updatePasswordUsername">
                <option value="0" disabled selected>Select</option>
                    {% for user in users %}
                        <option value="{{ user.userName }}">{{ user.userName }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="col-sm">
            <label class="form-group">Enter New Password
                <input type="password" name="updatePasswordPassword" class="form-text form-control" required>
            </label>
        </div>
        <div class="col-sm m-1">
            <label class="form-group"> &nbsp;
                <button type="submit" name="updateUserPasswordBtn" class="form-text form-control btn btn-primary" onclick="validateUpdatePasswordForm()"><i class="fa fa-refresh"></i> Update</button>
            </label>
        </div>

    </div>
</form>
</div>
</div>

<div class="container my-4 card p-2">
    <div class="card-body">
        <h5 class="mb-4 text-left">ADD NEW ANIMAL TO LIST</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row row form-group">
                <div class="col-sm">
                    <label class="form-group">Enter Animal Display Name
                        <input type="text" name="AnimalNameUplode" class="form-text form-control" required>
                    </label>
                </div>
                <div class="col-sm">
                    <label class="form-group">Uplode Animal Picture
                        <input type="file" name="AnimalPictureUplode" class="form-text form-control" required>
                    </label>
                </div>
                <div class="col-sm m-1">
                    <label class="form-group"> &nbsp;
                        <button type="submit" name="uplodeAnimalPictureToListBtn" class="form-text form-control btn btn-primary"><i class="fa fa-upload"></i> Uplode</button>
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>








<script>
    function validateUpdatePasswordForm(){
        const selectedUsername = document.getElementById("updatePasswordUsername")
        if(selectedUsername.value == 0){
            swal("Please Select Username")
            return false;
        }

        return true;
    }
</script>

</body>
</html>