<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://animalrescuesresources.blr1.digitaloceanspaces.com/icons/icon.ico">
    <title>Reports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
<div class="container mt-5 text-center align-middle">
    <div class="row">
        <div class="col-12">
            <a href="/"><img
                    src="https://animalrescuesresources.blr1.digitaloceanspaces.com/icons/logo.jpg"
                    class='m-2 img-fluid' alt="AnimalRescue"></a>

        </div>
        <div style="margin-bottom: 20px;">

        </div>


    </div>
</div>


<div class="container mt-5 text-center align-middle" style="width: 100%; overflow: auto">

    <h4 class="text-center">Report</h4>
        <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">S.no</th>
            <th scope="col">Date of Capture</th>
            <th scope="col">Date Of Release</th>
            <th scope="col">Animal</th>
            <th scope="col">Status While Capturing</th>
            <th scope="col">Status before Releasing</th>
            <th scope="col">Variance(in Meter)</th>
            <th scope="col">Image While Capturing</th>
            <th scope="col">Image While Releasing</th>
        </tr>
        </thead>
        <tbody>
        {% for rep in allResecues %}
            <tr class="bg-info text-white">
                <td>{{ rep.id }}</td>
                <td>{{ rep.pickup_date }}</td>
                <td>
                    {% if rep.release_date  %}
                        {{ rep.release_date }}
                    {% else %}
                        Not Yet Released
                    {% endif %}
                </td>
                <td>{{ rep.animal }}</td>
                <td>{{ rep.pickup_status }}</td>
                <td>
                    {% if rep.release_status  %}
                        {{ rep.release_status }}
                    {% else %}
                        Not Yet Released
                    {% endif %}
                </td>
                <td>
                    {% if rep.distance_variance  %}
                        {{ rep.distance_variance }}
                    {% else %}
                        Not Yet Released
                    {% endif %}
                </td>
                <td><a href="{{ rep.pickup_animalPhoto }}" target="_blank"><img src="{{ rep.pickup_animalPhoto }}" width="60" height="110" alt="image"></a></td>
                <td>
                    {% if rep.release_animalPhoto  %}
                        <a href="{{ rep.release_animalPhoto }}" target="_blank"><img src="{{ rep.release_animalPhoto }}" width="60" height="110" alt="image"></a>
                    {% else %}
                        Not Yet Released
                    {% endif %}

                </td>

            </tr>

        {% endfor %}

        </tbody>
    </table>



</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>